* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    background-color: cornsilk;
    margin: 0 auto;
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(201, 50, 24);
    border-style: outset;
    border-width: 0.2rem;
    border-color: rgb(236, 199, 13);
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.etiqueta-home {
    font-family: -apple-system;
    font-size: 2.7rem;
    color: rgb(236, 199, 13);
    text-decoration: none;
    padding-right: 2rem;
    border-right: solid 0.2rem rgb(236, 199, 13);
    line-height: 0.7;
}

.etiqueta-contacto {
    font-family: -apple-system;
    font-size: 2.7rem;
    color: rgb(236, 199, 13);
    text-decoration: none;
}

.etiqueta-home:hover,
.etiqueta-contacto:hover {
    color: rgba(236, 199, 13, 0.5);
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    background-color: rgba(210, 191, 115, 0.959);
    border: outset 0.3rem rgb(236, 199, 13);
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.contenedor-label-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
}

.contenedor-label-input label {
    width: 5rem;
    padding-right: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

.contenedor-label-input textarea {
    width: 18rem;
    height: 8rem;
    margin-bottom: 1.5rem;
}

.contenedor-botones {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.contenedor-botones .boton-enviar,
.boton-cancelar {
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 0.1rem black;
    border-radius: 0.3rem;
}

.boton-enviar {
    background-color: lightblue;
}

.boton-enviar:hover {
    background-color: rgb(74, 134, 155);
    cursor: pointer;
}

.boton-cancelar {
    background-color: lightcoral;
}

.boton-cancelar:hover {
    background-color: rgb(142, 72, 72);
    cursor: pointer;
}

footer {
    position: sticky;
    width: 100%;
    margin-top: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(201, 50, 24);
    border-style: outset;
    border-width: 0.2rem;
    border-color: rgb(236, 199, 13);
    border-radius: 0.5rem;
    text-align: center;
    font-family: -apple-system;
    font-size: 1.2rem;
    color: rgb(236, 199, 13);
}